h1 {
  font-weight: bold;
  color: blue;
}

h2.section-header {
  text-align: center;
  padding: 20px;
}

h2.card-title {
  text-align: center;
  padding-bottom: 15px;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: teal;
  color: white;
}